goPool
data/*.pem
data/*.toml
data/config/*.toml
data/config/*.toml.bak
data/state/
data/logs/

scripts/bitcoin-node
gopool-test
*.test
*.out
bitcoin-node/
.VSCodeCounter/
documentation/reference-miners/
documentation/sv2-apps
documentation/sv2-spec
vendor/

